<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/main.css" />
</head>
<body>
  <header>
    <h1>
      <a href="https://www.linkedin.com/in/alexandra-joseph-a72916386/" target="_blank" rel="noopener noreferrer">
        {{ site.title }}
      </a>
    </h1>
    <nav>
      <a href="/index.html">Home</a>
      <a href="/about.html">About</a>
       <a href="/projects.html">Projects</a>
      <a href="/assets/Resume.pdf" target="_blank">Resume</a>
      
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

 <footer style="text-align: center; padding: 1rem 0;">
  <p>© {{ site.title }} — {{ "now" | date: "%Y" }}</p>
</footer>
</body>
</html>